.littleTitle {
  font-size: 26px;
  text-align: left;
  font-weight: 500;
  color: #ffffff;
}

.littleInfo {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  color: #000000;
  margin-bottom: 50px;
}

.markType {
  background-color: #3e3e3f;
  min-height: 700px;
}
