.priceInfo{
   text-align: center;
   font-family:'Pretendard';
   position: relative;
   z-index: 1;
  }

.priceInfo::before{
  background-image: url("../../assets/images/비용안내.jpeg");
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.priceTitle{
    font-size:35px;
    font-weight: 500;
    margin-bottom: 50px;
  }

#applicationButton{
   background-color: #CBA585;
  
}

#priceNum{
  margin-top: 5;
  text-align: left;
  font-weight: 800;
}