$brown: #cba585;

ul {
  list-style: none;
}

.nav {
  li {
    font-size: 64px;
    padding: 16px 0px;
    font-family: "Pretendard";
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      color: $brown;
    }
  }
}
