input[type="file"] {
  display: none;
}

.fileUploadLabel {
  display: flex;
  color: black;
  height: 45px;
  width: 140px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: transparent;
  font-family: "Pretendard";
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
