@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
.navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_logo {
  font-family: "Changa One", cursive;
  font-weight: 900;
  font-size: 38px;
}

.navbar_logo a {
  color: #4d0059;
}

.navbar_menu {
  display: flex;
  align-items: left;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_search {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_search li {
  padding: 0px 5px;
  display: flex;
}

.navbar_search input[type="text"] {
  height: 25px;
  border-radius: 4px;
  border: none;
}

.navbar_search input[type="text"]:focus {
  border: 0.1rem solid gray;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_search {
    justify-content: center;
    width: 100%;
  }
}
