@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  margin: 0 100px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar_logo {
  font-family: "Changa One", cursive;
  font-weight: 300;
  font-size: 38px;
}

.navbar_logo a {
  color: #4d0059;
}

.navbar_menu {
  margin-left: auto;
  display: flex;
  align-items: left;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 20px;
}
.navbar_menu a:hover {
  color: #4d0059;
  font-weight: bold;
}
.navbar_search {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_search input[type="text"] {
  height: 25px;
  border: none;
  margin: 0 0.5rem;
  padding: 0px 5px;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}

@media screen and (max-width: 1350px) {
  .navbar {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1270px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    margin: 0;
  }
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_search {
    justify-content: center;
    width: 100%;
  }
}
